In this post, we are going to construct a unit conversion table in python. The table will have columns for meters (m), centimeter (cm), and inches (in). We will start off with a list of values that will be our meter collumn.

In [1]:
meters = [0, 10, 20, 30, 40, 50]

In [2]:
meters

[0, 10, 20, 30, 40, 50]

In [5]:
centimeters = meters*0.01
centimeters

TypeError: can't multiply sequence by non-int of type 'float'

One way we can accomplish this is with list comprehensions.

In [7]:
centimeters = [value*100 for value in meters]
centimeters

[0, 1000, 2000, 3000, 4000, 5000]

We can also create our originol meter list in a more dynamic way.

In [9]:
meters = [1:10]
meters

SyntaxError: invalid syntax (<ipython-input-9-e062066e0077>, line 1)