In [1]:
import pandas as pd
grades = [92,65,73,76,76,88,79,73,71,82,83,73]
df = pd.DataFrame(grades)
df.head()

    0
0  92
1  65
2  73
3  76
4  76

In [4]:
df.describe()

               0
count  12.000000
mean   77.583333
std     7.609305
min    65.000000
25%    73.000000
50%    76.000000
75%    82.250000
max    92.000000

In [5]:
df[0].median()

76.0

In [6]:
df[0].mode()

0    73
dtype: int64